@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,regular,italic,700,700italic);
.title {
    text-align: center;
}


.registration__inner {
    padding: 20px 0;
}

.registration__form {
    width: 720px;
    border: 1px solid black;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

.registration__input {
    display: block;
    width: 80%;
    margin: 0 auto 10px;
}

.registration__button {
    display: block;
    margin: auto;
}

.header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    height: 100px;
}

.header__info {
    font-size: 25px;
    font-family: 'Roboto-Condensed';
}

.dialog {
    margin-top: 20px;
}

.dialog__content {
    width: 80%;
    height: 500px;
    margin: auto;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 10px;
}

.dialog__form {
    display: flex;
    justify-content: center;
}

.dialog__message {
    margin: 0;
    padding: 5px;
}

.hide {
    display: none;
}